.login_form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    min-height: 350px;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    min-height: 400px !important;
}

input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
}

select {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 270px;
}

input:hover, input:active, input:focus {
    text-decoration: none;
}

.submit {
    margin-top: 20px;
    color: #20232a;
    height: 40px;
    background-color: rgb(97, 218, 251);
}

.cancel {
    color: #20232a;
    height: 40px;
    background-color: rgb(97, 218, 251);
}

.submit:disabled {
    background-color: #cccccc;
    color: white;
    cursor: not-allowed;
}

.error {
    color: red;
    height: 10px;
    margin-bottom: 20px;
}

.info {
    max-width: 200px;
    color: black;
}

.info a {
    color:rgb(97, 218, 251);
}