.not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color:rgb(40, 44, 52);
    font-weight: bold;
    font-size: 20px;
}

.sad_photo {
    height: 300px;
    width: 200px;
    background-image: url('../../images/image1.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}