.table_wrapper {
    margin: 50px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

table {
    min-width: 500px;
    border-collapse: collapse;
    border: 1px solid rgb(40, 44, 52);
}

td {
    border-top: 1px solid rgb(40, 44, 52);
}

th,td {
    padding:10px;
    text-align: center;
}

.btn-update {
    color: white;
    height: 30px;
    background-color: rgb(97, 218, 251);
    border: 1px solid rgb(97, 218, 251);
    border-radius: 5px;
}