.category_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.category_wrapper>a {
    margin-top: 20px;
    color:rgb(97, 218, 251);
    text-decoration: none;
    font-weight: bold;
}

.modal_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modal_content>span {
    font-weight: bold;
}