.subject_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto 0px auto;
    max-width: 700px;
}

.subject_wrapper>a {
    margin-top: 20px;
    color:rgb(97, 218, 251);
    text-decoration: none;
    font-weight: bold;
}