.header {
    background-color: rgb(40, 44, 52);
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 0 50px;
}

.header>a {
    color:rgb(97, 218, 251);
    text-decoration: none;
}

.logout {
    cursor: pointer;
    margin-left: 10px;
}

.header_links {
    display: flex;
}   

.header_links>a {
    color:rgb(97, 218, 251);
    text-decoration: none;
}